@using QLDienHoa03.App_Start;
@{
    bool ss = SessionConfig.GetUser() != null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from htmldemo.themessoft.com/freshia/version2/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 May 2024 14:36:05 GMT -->
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons Icon -->
    <link rel="icon" href="~/assets3/images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/assets3/images/favicon.png" type="image/x-icon" />
    <title>Freshia premium HTML5 &amp; CSS3 template</title>

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="~/assets3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets3/css/font-awesome.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/assets3/css/simple-line-icons.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/assets3/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/assets3/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="~/assets3/css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="~/assets3/css/jquery.mobile-menu.css">
    <link rel="stylesheet" type="text/css" href="~/assets3/css/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/assets3/css/revslider.css">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400' rel='stylesheet' type='text/css'>
    <link href="~/assets3/https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i,900" rel="stylesheet">
</head>

<body class="cms-index-index cms-home-page">
    <div id="page">
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="header-top">
                    <div class="container">
                        <div class="row">
                            <!-- Header Language -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="dropdown block-language-wrapper">
                                    <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle" href="~/assets3/#"> <img src="~/assets3/images/english.png" alt="language"> English <span class="caret"></span> </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation"> <a href="~/assets3/#"><img src="~/assets3/images/english.png" alt="language"> English </a> </li>
                                        <li role="presentation"> <a href="~/assets3/#"><img src="~/assets3/images/francais.png" alt="language"> French </a> </li>
                                        <li role="presentation"> <a href="~/assets3/#"><img src="~/assets3/images/german.png" alt="language"> German </a> </li>
                                    </ul>
                                </div>
                                <!-- End Header Language -->
                                <!-- Header Currency -->
                                <div class="dropdown block-currency-wrapper">
                                    <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle" href="~/assets3/#"> USD <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation"><a href="~/assets3/#"> $ - Dollar </a> </li>
                                        <li role="presentation"><a href="~/assets3/#"> £ - Pound </a> </li>
                                        <li role="presentation"><a href="~/assets3/#"> € - Euro </a> </li>
                                    </ul>
                                </div>
                                <!-- End Header Currency -->
                                <div class="welcome-msg"> Default welcome msg! </div>
                            </div>
                            <div class="col-xs-6 hidden-xs">
                                <!-- Header Top Links -->
                                <div class="toplinks">
                                    <div class="links">
                                        <div class="myaccount"><a title="My Account" href="~/assets3/login.html"><span class="hidden-xs">My Account</span></a> </div>
                                        <div class="check"><a title="Checkout" href="~/assets3/checkout.html"><span class="hidden-xs">Checkout</span></a> </div>
                                        <div class="demo"><a title="Blog" href="~/assets3/blog.html"><span class="hidden-xs">Blog</span></a> </div>
                                        <!-- Header Company -->
                                        <div class="dropdown block-company-wrapper hidden-xs">
                                            <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="~/assets3/#"> Company <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation"><a href="~/assets3/about_us.html"> About Us </a> </li>
                                                <li role="presentation"><a href="~/assets3/#"> Customer Service </a> </li>
                                                <li role="presentation"><a href="~/assets3/#"> Privacy Policy </a> </li>
                                                <li role="presentation"><a href="~/assets3/sitemap.html">Site Map </a> </li>
                                                <li role="presentation"><a href="~/assets3/#">Search Terms </a> </li>
                                                <li role="presentation"><a href="~/assets3/#">Advanced Search </a> </li>
                                            </ul>
                                        </div>
                                        <!-- End Header Company -->

                                        @{
                                            if (ss == true)
                                            {
                                                <div class="demo-navbar-user nav-item dropdown">
                                                    <div class="dropdown block-company-wrapper hidden-xs">
                                                        <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="~/assets3/#">
                                                            <img width="40" height="40" src="~/assets/img/avatars/67304d892efcd3e7e5e9ac7b732983a7.jpg" class="d-block rounded-circle" style="border-radius:50%;">
                                                            <span class="px-1 mr-lg-2 ml-2 ml-lg-0">
                                                                @if (ss == true)
                                                                {
                                                                    Write(SessionConfig.GetUser().HoTen);
                                                                }
                                                            </span>
                                                            <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li role="presentation">
                                                                <i class="feather icon-user text-muted"></i> &nbsp; My profile
                                                            </li>
                                                            <li role="presentation">
                                                                <i class="feather icon-mail text-muted"></i> &nbsp; Messages
                                                            </li>
                                                            <li role="presentation">
                                                                <i class="feather icon-settings text-muted"></i> &nbsp; Account settings
                                                            </li>
                                                            <li role="presentation">
                                                                <a href="@Url.Action("Logout","Account",new {Area=""})" class="dropdown-item">
                                                                    <i class="feather icon-power text-danger"></i> &nbsp; Log Out
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Login","Account",new { area=""})">Đăng Nhập</a>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- End Header Top Links -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 header-phone">
                            <i class="fa fa-mobile"></i>  +0123456789
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12 logo-block">
                            <!-- Header Logo -->
                            <div class="logo"> <a title="Freshia Basket" href="#"><img alt="The Fool" src="~/assets/img/illust_92937673_20211007_131728.png" height="50"><br /><span  style="font-family:Gigi ; font-size:27px;">The Fool</span></a> </div>
                            <!-- End Header Logo -->
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs">
                            <div class="search-box">
                                <form action="https://htmldemo.themessoft.com/freshia/version2/cat" method="POST" id="search_mini_form" name="Categories">
                                    <input type="text" placeholder="Search entire store here..." value="Search" maxlength="70" name="search" id="search">
                                    <button type="button" class="search-btn-bg"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end header -->
            <!-- Navigation -->

            <nav>
                <div class="container">
                    <div class="mm-toggle-wrap">
                        <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
                    </div>
                    <div class="nav-inner">
                        <!-- BEGIN NAV -->
                        <ul id="nav" class="hidden-xs">
                            <li class="level0 parent drop-menu" id="nav-home">
                                <a href="~/assets3/index-2.html" class="level-top"><i class="fa fa-home"></i><span class="hidden">Home</span></a>
                                <ul style="display: none;" class="level1">
                                    <li class="level1"><a href="~/assets3/index-2.html"><span>Fashion Store</span></a> </li>
                                    <li class="level1"><a href="~/assets3/https://htmldemo.themessoft.com/freshia/digital/index.html"><span>Digital Store</span></a> </li>
                                    <li class="level1"><a href="~/assets3/https://htmldemo.themessoft.com/freshia/furniture/index.html"><span>Furniture Store</span></a> </li>
                                    <li class="level1"><a href="~/assets3/https://htmldemo.themessoft.com/freshia/jewellery/index.html"><span>Jewellery Store</span></a> </li>
                                </ul>
                            </li>

                            <li class="mega-menu">
                                <a class="level-top" href="~/assets3/grid.html"><span>Kiểu Dáng</span></a>
                                <div class="level0-wrapper dropdown-5col">
                                    <div class="container">
                                        <div class="level0-wrapper2">
                                            <div class="nav-block nav-block-center">
                                                <!--mega menu-->
                                                <ul class="level0">
                                                    <li class="level3 nav-6-1 parent item">
                                                        <a href="~/assets3/grid.html"><span>Bó Hoa</span></a>
                                                        <ul class="level1">
                                                            <li class="push_img"> <a href="~/assets3/#"><img src="~/assets3/images/menu-img.jpg" alt=""> </a> </li>
                                                        </ul>
                                                    </li>
                                                    <li class="level3 nav-6-1 parent item">
                                                        <a href="~/assets3/grid.html"><span>Giỏ Hoa</span></a>
                                                        <ul class="level1">
                                                            <li class="push_img"> <a href="~/assets3/#"><img src="~/assets3/images/menu-img1.jpg" alt=""> </a> </li>
                                                        </ul>
                                                    </li>
                                                    <li class="level3 nav-6-1 parent item">
                                                        <a href="~/assets3/grid.html"><span>Vòng Hoa Viếng</span></a>
                                                        <ul class="level1">
                                                            <li class="push_img"> <a href="~/assets3/#"><img src="~/assets3/images/menu-img2.jpg" alt=""> </a> </li>
                                                        </ul>
                                                    </li>
                                                    <li class="level3 nav-6-1 parent item">
                                                        <a href="~/assets3/grid.html"><span>Chậu Lan Hồ Điệp</span></a>
                                                        <ul class="level1">
                                                            <li class="push_img"> <a href="~/assets3/#"><img src="~/assets3/images/menu-img3.jpg" alt=""> </a> </li>
                                                        </ul>

                                                    </li>
                                                    <li class="level3 nav-6-1 parent item">
                                                        <a href="~/assets3/grid.html"><span>Kệ Đứng Hoa Chúc Mừng</span></a>
                                                        <ul class="level1">
                                                            <li class="push_img"> <a href="~/assets3/#"><img src="~/assets3/images/menu-img4.jpg" alt=""> </a> </li>
                                                        </ul>

                                                    </li>
                                                </ul>
                                                <!--level0-->
                                            </div>
                                            <!--nav-block nav-block-center-->
                                            <!--nav-block nav-block-center-->

                                        </div>
                                        <!--level0-wrapper2-->
                                    </div>
                                    <!--container-->
                                </div>
                                <!--level0-wrapper dropdown-6col-->
                                <!--mega menu-->
                            </li>
                            <li class="mega-menu">
                                <a class="level-top" href="~/assets3/grid.html"><span>Hoa Chia Buồn</span></a>
                            </li>
                            <li class="mega-menu">
                                <a class="level-top" href="~/assets3/grid.html"><span>Hoa Sinh Nhật</span></a>
                            </li>
                            <li class="mega-menu"> <a class="level-top" href="~/assets3/grid.html"><span>Hoa Chúc Mừng</span></a> </li>
                            <li class="nav-custom-link mega-menu">
                                <a href="~/assets3/#" class="level-top"> <span>Bán Chạy</span> </a>
                                <div class="level0-wrapper custom-menu">
                                    <div class="container">
                                        <div class="header-nav-dropdown-wrapper clearer">
                                            <div class="grid12-3">
                                                <div><img src="~/assets3/images/custom-img1.jpg" alt="custom-image"> </div>
                                                <h4 class="heading">Hurry up only today!</h4>
                                                <p>Consult our specialists for help with an order, customization, or design advice.</p>

                                            </div>
                                            <div class="grid12-3">
                                                <div><img src="~/assets3/images/custom-img2.jpg" alt="custom-image"> </div>
                                                <h4 class="heading">Flat 30% on Fruits</h4>
                                                <p>We stand behind our goods and services and want you to be satisfied with them.</p>

                                            </div>
                                            <div class="grid12-3">
                                                <div><img src="~/assets3/images/custom-img3.jpg" alt="custom-image"> </div>
                                                <h4 class="heading">Hot Deals!</h4>
                                                <p>Our font delivery service is built upon a reliable, global network of servers.</p>

                                            </div>
                                            <div class="grid12-3">
                                                <div><img src="~/assets3/images/custom-img4.jpg" alt="custom-image"> </div>
                                                <h4 class="heading">New Arrivals!</h4>
                                                <p>Currently over 50 countries qualify for express international shipping.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--nav-->
                        <div class="top-cart-contain pull-right">
                            <!-- Top Cart -->
                            <div class="mini-cart">
                                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"> <a href="~/assets3/shopping_cart.html"> <span class="cart_count">2</span> </a> </div>
                                <div>
                                    <div class="top-cart-content">

                                        <!--block-subtitle-->
                                        <ul class="mini-products-list" id="cart-sidebar">
                                            <li class="item first">
                                                <div class="item-inner">
                                                    <a class="product-image" title="Retis lapen casen" href="~/assets3/#l"><img alt="Retis lapen casen" src="~/assets3/products-images/product4.jpg"> </a>
                                                    <div class="product-details">
                                                        <div class="access"><a class="btn-remove1" title="Remove This Item" href="~/assets3/#">Remove</a> <a class="btn-edit" title="Edit item" href="~/assets3/#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                                                        <!--access--><strong>1</strong> x <span class="price">$179.99</span>
                                                        <p class="product-name"><a href="~/assets3/#">Retis lapen casen...</a> </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="item last">
                                                <div class="item-inner">
                                                    <a class="product-image" title="Retis lapen casen" href="~/assets3/product_detail.html"><img alt="Retis lapen casen" src="~/assets3/products-images/product3.jpg"> </a>
                                                    <div class="product-details">
                                                        <div class="access"><a class="btn-remove1" title="Remove This Item" href="~/assets3/#">Remove</a> <a class="btn-edit" title="Edit item" href="~/assets3/#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                                                        <!--access--><strong>1</strong> x <span class="price">$80.00</span>
                                                        <p class="product-name"><a href="~/assets3/#">Retis lapen casen...</a> </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <!--actions-->
                                        <div class="actions">
                                            <button class="btn-checkout" title="Checkout" type="button"><span>Checkout</span> </button>
                                            <a href="~/assets3/shopping_cart.html" class="view-cart"><span>View Cart</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Top Cart -->
                            <div id="ajaxconfig_info" style="display:none">
                                <a href="#"></a>
                                <input value="" type="hidden">
                                <input id="enable_module" value="1" type="hidden">
                                <input class="effect_to_cart" value="1" type="hidden">
                                <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end nav -->
        </header>
        <!-- Slider -->
        <div id="thm-slideshow" class="thm-slideshow">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                            <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                                <ul>
                                    <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slide-img1.jpg'>
                                        <img src='~/assets3/images/slide-img1.jpg' alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><span>Modern Design</span> </div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><span>Simply delicious</span> </div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1450' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'>In augue urna, nunc, tincidunt, augue, augue facilisis facilisis.</div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><a href='#' class="buy-btn">Shop Now</a> </div>
                                        </div>
                                    </li>
                                    <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='images/slide-img2.jpg'>
                                        <img src='~/assets3/images/slide-img2.jpg' alt="slide-img" data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' />
                                        <div class="info">
                                            <div class='tp-caption ExtraLargeTitle sft slide2  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><span>Mega Sale</span> </div>
                                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'>Season Sale </div>
                                            <div class='tp-caption Title sft  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                            <div class='tp-caption sfb  tp-resizeme ' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1'><a href='#' class="buy-btn">Buy Now</a> </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 hot-deal">
                        <ul class="products-grid">
                            <li class="right-space two-height item">
                                <div class="item-inner">
                                    <div class="item-img">
                                        <div class="item-img-info">
                                            <a href="~/assets3/#" title="Retis lapen casen" class="product-image"> <img src="~/assets3/products-images/product16.jpg" alt="Retis lapen casen"> </a>
                                            <div class="hot-label hot-top-left">Hot</div>
                                            <div class="box-hover">
                                                <ul class="add-to-links">
                                                    <li><a class="link-quickview" href="~/assets3/quick_view.html">Quick View</a> </li>
                                                    <li><a class="link-wishlist" href="~/assets3/wishlist.html">Wishlist</a> </li>
                                                    <li><a class="link-compare" href="~/assets3/compare.html">Compare</a> </li>
                                                </ul>
                                            </div>
                                            <div class="box-timer">
                                                <div class="countbox_1 timer-grid"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a href="~/assets3/product_detail.html" title="Retis lapen casen"> Retis lapen casen </a> </div>
                                            <div class="item-content">
                                                <div class="rating">
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            <div class="rating" style="width:80%"></div>
                                                        </div>
                                                        <p class="rating-links"> <a href="~/assets3/#">1 Review(s)</a> <span class="separator">|</span> <a href="~/assets3/#">Add Review</a> </p>
                                                    </div>
                                                </div>
                                                <div class="item-price">
                                                    <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                                </div>
                                                <div class="action">
                                                    <button data-original-title="Add to Cart" title="" type="button" class="button btn-cart"><span>Add to Cart</span> </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- end Slider -->
        <!-- our features -->
        <div class="our-features-box">
            <div class="container">
                <ul>
                    <li>
                        <div class="feature-box need-help">
                            <div class="icon-truck"></div>
                            <div class="content">FREE SHIPPING on order over $99</div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-box free-shipping">
                            <div class="icon-support"></div>
                            <div class="content">Need Help +1 800 123 1234</div>
                        </div>
                    </li>
                    <li>
                        <div class="feature-box money-back">
                            <div class="icon-money"></div>
                            <div class="content">Money Back Guarantee</div>
                        </div>
                    </li>
                    <li class="last">
                        <div class="feature-box return-policy">
                            <div class="icon-return"></div>
                            <div class="content">30 days return Service</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        @RenderBody()

        <!-- Footer -->
        <footer>
            <div class="newsletter-block">
                <div class="container">
                    <div class="newsletter-wrap">

                        <h4>Sign up for emails</h4>
                        <form id="newsletter-validate-detail" method="post" action="#">
                            <div id="container_form_news">
                                <div id="container_form_news2">
                                    <input type="text" class="input-text required-entry validate-email" value="Enter your email address" onFocus=" this.value='' " title="Sign up for our newsletter" id="newsletter" name="email">
                                    <button class="button subscribe" title="Subscribe" type="submit"><span>Subscribe</span> </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 col-lg-8 col-md-8">
                            <div class="footer-column pull-left">
                                <h4>My Account</h4>
                                <ul class="links">
                                    <li class="first"><a title="Login" href="~/assets3/login.html">Login</a> </li>
                                    <li><a title="About us" href="~/assets3/about_us.html">About us</a> </li>
                                    <li><a title="Wishlist" href="~/assets3/wishlist.html">Wishlist</a> </li>
                                    <li><a title="Checkout" href="~/assets3/checkout.html">Checkout</a> </li>
                                    <li><a title="FAQs" href="~/assets3/faq.html">FAQs</a> </li>
                                    <li class="last"><a title="Contact Us" href="~/assets3/contact_us.html">Contact Us</a> </li>
                                </ul>
                            </div>
                            <div class="footer-column pull-left">
                                <h4>Style Advisor</h4>
                                <ul class="links">
                                    <li class="first"><a title="Your Account" href="~/assets3/#">Your Account</a> </li>
                                    <li><a title="Information" href="~/assets3/#">Information</a> </li>
                                    <li><a title="Addresses" href="~/assets3/#">Addresses</a> </li>
                                    <li><a title="Addresses" href="~/assets3/#">Discount</a> </li>
                                    <li><a title="Orders History" href="~/assets3/#">Orders History</a> </li>
                                    <li class="last"><a title=" Additional Information" href="~/assets3/#">Additional Information</a> </li>
                                </ul>
                            </div>
                            <div class="footer-column pull-left">
                                <h4>Information</h4>
                                <ul class="links">
                                    <li class="first"><a href="~/assets3/sitemap.html" title="Site Map">Site Map</a> </li>
                                    <li><a href="~/assets3/#" title="Search Terms">Search Terms</a> </li>
                                    <li><a href="~/assets3/#" title="Advanced Search">Advanced Search</a> </li>
                                    <li><a href="~/assets3/contact-us.html" title="Contact Us">Privacy Policy</a> </li>
                                    <li><a href="~/assets3/#" title="Suppliers">Suppliers</a> </li>
                                    <li class=" last"><a href="~/assets3/#" title="Our stores" class="link-rss">Our stores</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="footer-column-last">

                                <div class="social">
                                    <h4>Follow Us</h4>
                                    <ul class="link">
                                        <li class="fb pull-left"> <a href="~/assets3/#"></a> </li>
                                        <li class="tw pull-left"> <a href="~/assets3/#"></a> </li>
                                        <li class="googleplus pull-left"> <a href="~/assets3/#"></a> </li>
                                        <li class="rss pull-left"> <a href="~/assets3/#"></a> </li>
                                        <li class="pintrest pull-left"> <a href="~/assets3/#"></a> </li>
                                        <li class="linkedin pull-left"> <a href="~/assets3/#"></a> </li>
                                        <li class="youtube pull-left"> <a href="~/assets3/#"></a> </li>
                                    </ul>
                                </div>
                                <div class="payment-accept">
                                    <h4>Payment Option</h4>
                                    <div><img src="~/assets3/images/payment-1.png" alt="payment1"> <img src="~/assets3/images/payment-2.png" alt="payment2"> <img src="~/assets3/images/payment-3.png" alt="payment3"> <img src="~/assets3/images/payment-4.png" alt="payment4"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div style="text-align:center"> <a href="~/assets3/index-2.html"><img src="~/assets3/images/footer-logo.png" alt="logo"> </a> </div>
                        <address>
                            <i class="fa fa-map-marker"></i> ABC Town Luton Street, New York 226688 <i class="fa fa-mobile"></i><span> +0800 567 345</span> <i class="fa fa-envelope"></i><span> support@themessoft.com</span>
                        </address>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12 coppyright">&copy; 2018 themessoft. All Rights Reserved.</div>
                        <div class="col-sm-7 col-xs-12 company-links">
                            <ul class="links">
                                <li><a href="~/assets3/#" title="Magento Themes">Magento Themes</a> </li>
                                <li><a href="~/assets3/#" title="Opencart Themes">Opencart Themes</a> </li>
                                <li><a href="~/assets3/#" title="Woocommerce Themes">Woocommerce Themes</a> </li>
                                <li class="last"><a href="~/assets3/#" title="Shopify Themes">Shopify Themes</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- End Footer -->
    <!-- mobile menu -->
    <div id="mobile-menu">
        <ul>
            <li>
                <div class="mm-search">
                    <form id="search1" name="search">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i> </button>
                            </div>
                            <input type="text" class="form-control simple" placeholder="Search ..." name="srch-term" id="srch-term">
                        </div>
                    </form>
                </div>
            </li>
            <li>
                <a href="~/assets3/index-2.html">Home</a>
                <ul>
                    <li class="level1"><a href="~/assets3/index-2.html"><span>Fashion Store</span></a> </li>
                    <li class="level1"><a href="~/assets3/https://htmldemo.themessoft.com/freshia/digital/index.html"><span>Digital Store</span></a> </li>
                    <li class="level1"><a href="~/assets3/https://htmldemo.themessoft.com/freshia/furniture/index.html"><span>Furniture Store</span></a> </li>
                    <li class="level1"><a href="~/assets3/https://htmldemo.themessoft.com/freshia/jewellery/index.html"><span>Jewellery Store</span></a> </li>
                </ul>
            </li>
            <li>
                <a href="~/assets3/#">Pages</a>
                <ul>
                    <li><a href="~/assets3/grid.html">Grid</a> </li>
                    <li> <a href="~/assets3/list.html">List</a> </li>
                    <li> <a href="~/assets3/product_detail.html">Product Detail</a> </li>
                    <li> <a href="~/assets3/shopping_cart.html">Shopping Cart</a> </li>
                    <li><a href="~/assets3/checkout.html">Checkout</a> </li>
                    <li> <a href="~/assets3/wishlist.html">Wishlist</a> </li>
                    <li> <a href="~/assets3/dashboard.html">Dashboard</a> </li>
                    <li> <a href="~/assets3/multiple_addresses.html">Multiple Addresses</a> </li>
                    <li> <a href="~/assets3/about_us.html">About us</a> </li>
                    <li>
                        <a href="~/assets3/blog.html">Blog</a>
                        <ul>
                            <li><a href="~/assets3/blog-detail.html">Blog Detail</a> </li>
                        </ul>
                    </li>
                    <li><a href="~/assets3/contact_us.html">Contact us</a> </li>
                    <li><a href="~/assets3/404error.html">404 Error Page</a> </li>
                </ul>
            </li>
            <li>
                <a href="~/assets3/#">Salads</a>
                <ul>
                    <li>
                        <a href="~/assets3/#" class="">Bread Salads</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html" class="">Cappon Magro</a> </li>
                            <li> <a href="~/assets3/grid.html" class="">Dakos</a> </li>
                            <li> <a href="~/assets3/grid.html" class="">Fattoush</a> </li>
                            <li> <a href="~/assets3/grid.html" class="">Panzanella</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Fruit Salads</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html">Candle Salad</a> </li>
                            <li> <a href="~/assets3/grid.html">Frogeye Salad</a> </li>
                            <li> <a href="~/assets3/grid.html">Green Papaya Salad</a> </li>
                            <li> <a href="~/assets3/grid.html">Waldorf Salad</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Salad Dressings</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html">Louis Dressings</a> </li>
                            <li> <a href="~/assets3/grid.html">French Dressings</a> </li>
                            <li> <a href="~/assets3/grid.html">Gingner Dressings</a> </li>
                            <li> <a href="~/assets3/grid.html">Italian Dressings</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Leaf Vegetable</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html">Fenugreek</a> </li>
                            <li> <a href="~/assets3/grid.html">Spinach</a> </li>
                            <li> <a href="~/assets3/grid.html">Malva</a> </li>
                            <li> <a href="~/assets3/grid.html">Cabbage</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Stem Vegetables</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html">Crithmum</a> </li>
                            <li> <a href="~/assets3/grid.html">Fallopia Japonica</a> </li>
                            <li> <a href="~/assets3/grid.html">Celery</a> </li>
                            <li> <a href="~/assets3/grid.html">Cardoon</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Root Vegetables</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html">Garlic</a> </li>
                            <li> <a href="~/assets3/grid.html">Onion</a> </li>
                            <li> <a href="~/assets3/grid.html">Potato</a> </li>
                            <li> <a href="~/assets3/grid.html">Taros</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/assets3/grid.html">Soups‎</a>
                <ul>
                    <li>
                        <a href="~/assets3/grid.html" class="">Cold Soups</a>
                        <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Red Bean Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Fruit Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Naengguk</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Borscht</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Cream Soups</a>
                        <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Chowder</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Asparagus Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Broccoli Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Mushroom Soup</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Vegitable Soups</a>
                        <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">French Onion Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Leek Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Minestrone</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Spring Soup</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/#.html">Bean Soups</a>
                        <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Bouneschlupp</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Jókai Bean Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Kwati Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Shorba Soup</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Chinese Soups</a>
                        <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Hot & Sour</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Noodle Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Corn Crab Soup</a> </li>
                            <li class="level2 nav-6-1-1"><a href="~/assets3/grid.html">Sago Soup</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/assets3/grid.html">Fast Food</a>
                <ul>
                    <li>
                        <a href="~/assets3/grid.html"><span>Indian</span></a>
                        <ul>
                            <li> <a href="~/assets3/grid.html"><span>Aloo Chaat</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Batata Vada</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Kachori</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Panipuri</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html" class=""><span>Pizza</span></a>
                        <ul>
                            <li> <a href="~/assets3/grid.html"><span>Greek Pizza</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Pizza Rolls</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Grilled Pizza</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Pizza Strips</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html"><span>McDonald's</span></a>
                        <ul>
                            <li> <a href="~/assets3/grid.html"><span>Kiwiburger</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Happy Meal</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>McMuffin</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>McGriddles</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html"><span>Wendy's Foods</span></a>
                        <ul>
                            <li> <a href="~/assets3/grid.html"><span>Bacon Deluxe</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Baconator</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Frescata</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Frosty</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html"><span>Burger King</span></a>
                        <ul>
                            <li> <a href="~/assets3/grid.html"><span>Big King</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>TenderCrisp</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Whopper</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Kuro Burger</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html"><span>Sandwiches</span></a>
                        <ul>
                            <li> <a href="~/assets3/grid.html"><span>Hamburgers</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Hot Dogs</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>American Sandwiches</span></a> </li>
                            <li> <a href="~/assets3/grid.html"><span>Chilean Sandwiches</span></a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="~/assets3/grid.html">Sandwiches‎</a>
                <ul>
                    <li>
                        <a href="~/assets3/grid.html">American</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html">American sub</a> </li>
                            <li> <a href="~/assets3/grid.html">Beef on weck</a> </li>
                            <li> <a href="~/assets3/grid.html">Bologna Sandwich</a> </li>
                            <li> <a href="~/assets3/grid.html">Cheese Dream</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html" class="">Mexican</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html">Torta</a> </li>
                            <li> <a href="~/assets3/grid.html">Cemita</a> </li>
                            <li> <a href="~/assets3/grid.html">Toast</a> </li>
                            <li> <a href="~/assets3/grid.html">Chanclas</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Grilled</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html">Cheese</a> </li>
                            <li> <a href="~/assets3/grid.html">Chocolate</a> </li>
                            <li> <a href="~/assets3/grid.html">Garlic Cheese</a> </li>
                            <li> <a href="~/assets3/grid.html">Veg Cheese</a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/assets3/grid.html">Clubbed</a>
                        <ul>
                            <li> <a href="~/assets3/grid.html">Triple Decker California</a> </li>
                            <li> <a href="~/assets3/grid.html">Tempeh Reuben</a> </li>
                            <li> <a href="~/assets3/grid.html">Mediterranean Veggie</a> </li>
                            <li> <a href="~/assets3/grid.html">Leftover Turkey</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="~/assets3/grid.html">Fruits</a> </li>
            <li><a href="~/assets3/contact-us.html">Contact Us</a> </li>
        </ul>
        <div class="top-links">
            <ul class="links">
                <li><a title="My Account" href="~/assets3/login.html">My Account</a> </li>
                <li><a title="Wishlist" href="~/assets3/wishlist.html">Wishlist</a> </li>
                <li><a title="Checkout" href="~/assets3/checkout.html">Checkout</a> </li>
                <li><a title="Blog" href="~/assets3/blog.html"><span>Blog</span></a> </li>
                <li class="last"><a title="Login" href="~/assets3/login.html"><span>Login</span></a> </li>
            </ul>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="~/assets3/js/jquery.min.js"></script>
    <script src="~/assets3/js/bootstrap.min.js"></script>
    <script src="~/assets3/js/revslider.js"></script>
    <script src="~/assets3/js/common.js"></script>
    <script src="~/assets3/js/owl.carousel.min.js"></script>
    <script src="~/assets3/js/jquery.mobile-menu.min.js"></script>
    <script src="~/assets3/js/countdown.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#rev_slider_4').show().revolution({
                dottedOverlay: 'none',
                delay: 5000,
                startwidth: 915,
                startheight: 440,
                hideThumbs: 200,
                thumbWidth: 200,
                thumbHeight: 50,
                thumbAmount: 2,
                navigationType: 'thumb',
                navigationArrows: 'solo',
                navigationStyle: 'round',
                touchenabled: 'on',
                onHoverStop: 'on',
                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,
                spinner: 'spinner0',
                keyboardNavigation: 'off',
                navigationHAlign: 'center',
                navigationVAlign: 'bottom',
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: 'left',
                soloArrowLeftValign: 'center',
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,
                soloArrowRightHalign: 'right',
                soloArrowRightValign: 'center',
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,
                shadow: 0,
                fullWidth: 'on',
                fullScreen: 'off',
                stopLoop: 'off',
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: 'off',
                autoHeight: 'off',
                forceFullWidth: 'on',
                fullScreenAlignForce: 'off',
                minFullScreenHeight: 0,
                hideNavDelayOnMobile: 1500,
                hideThumbsOnMobile: 'off',
                hideBulletsOnMobile: 'off',
                hideArrowsOnMobile: 'off',
                hideThumbsUnderResolution: 0,
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                fullScreenOffsetContainer: ''
            });
        });
    </script>
    <!-- Hot Deals Timer 1-->
    <script>
        var dthen1 = new Date("12/25/17 11:59:00 PM");
        start = "08/04/15 03:02:11 AM";
        start_date = Date.parse(start);
        var dnow1 = new Date(start_date);
        if (CountStepper > 0)
            ddiff = new Date((dnow1) - (dthen1));
        else
            ddiff = new Date((dthen1) - (dnow1));
        gsecs1 = Math.floor(ddiff.valueOf() / 1000);

        var iid1 = "countbox_1";
        CountBack_slider(gsecs1, "countbox_1", 1);
    </script>
</body>

<!-- Mirrored from htmldemo.themessoft.com/freshia/version2/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 15 May 2024 14:36:25 GMT -->
</html>